* {
  padding: 0;
  margin: 0;
  font-family: Arial;
  background-image: url("escheresque_ste_@2X.png");
  color: red;
}
header {
  text-shadow: 1px 1px 4px #000000;
  text-align: center;
  margin: 20px auto;
  font-size: 1.5em;
}
canvas {
  background: black;
  display: block;
  margin: 50px auto;
  border: 2px solid red;
}
article {
  text-align: center;
  margin: 20px auto;
  font-size: 1.5em;
}
